@font-face {
    font-family: 'Source Code Pro';
    src: url(/fonts/SourceCodePro.ttf);

}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

body {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.background {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

#screen {
    padding: 15px 10px;
    border: 2px solid whitesmoke;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-opacity: 0.65;
    opacity: 0.65;
    background-color: #000000;
    width: 250px;
}


body {
    font-family: 'Source Code Pro', sans-serif !important;
    color: whitesmoke;
    font-style: italic;
    background: black;
}

A:link {
    color: whitesmoke;
    text-decoration: none;
}

A:visited {
    color: whitesmoke;
    text-decoration: none;
}

A:hover {
    text-shadow: 0pt 0pt 0.3em whitesmoke, 0pt 0pt 0.3em whitesmoke;
    color: whitesmoke;
    text-decoration: none;
}

A:active {
    color: whitesmoke;
    text-decoration: none;
}